body {
  color: white;
  background-color: black;
}
header {
  background-color: rgba(64, 144, 82, 0.537);
  padding: 20px;
  text-align: center;
}

main {
  background-color: rgba(83, 148, 95, 0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

nav {
  background-color: rgba(50, 120, 94, 0.641);
  padding: 10px;
}

footer {
  background-color: rgba(53, 148, 93, 0.486);
  padding: 10px;
  text-align: center;
}
.images {
  display: flex;
  gap: 20px;
}
nav button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 1rem;
  background-color: #ffffffda;
  color: rgb(9, 140, 2);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav button:hover {
  background-color: #3b82f6;
}

button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
 
.vista-button {
  position: relative;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
  color: #3afa00e3;
  text-shadow: 1px 1px #000000fe;
  box-shadow:
    inset 0px 4px 4px -3px #fff0,
    inset 0px -3px 4px -3px #fff;
  background: linear-gradient(#ddd, #999 50%, #000 50%);
  isolation: isolate;
  transition:
    0.25s all,
    0.1s background-position;
}

.vista-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(circle at 50% 150%, #48b9ef, #0000 50%);
  background-size: 300% 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: inherit;
}

.vista-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(circle at 50% 320%, #48b9ef, #0000 50%);
  background-size: 300% 50%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: inherit;
}

.vista-button:hover {
  box-shadow:
    inset 0px 4px 4px -3px rgba(255, 255, 255, 0.333),
    inset 0px -3px 4px -3px #fff;
}
.vista-button:hover::before,
.vista-button:hover::after {
  opacity: 1;
}

.vista-button:active::before,
.vista-button:active::after {
  opacity: 0;
}

.vista-button:active {
  box-shadow:
    inset 0px 4px 4px -3px #c80d0d,
    inset 0px -4px 4px -3px #000c,
    inset 0px 0px 24px -3px #000a;
  background-position: 1px 1px;
}

.vista-button div {
  transition: 0.1s translate;
}

.vista-button:active div {
  translate: 1px 1px;
}
